@import 'vars';
:root {
  font-size: 16px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:active, :focus {
    outline: 2px solid $outline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: .5em;
  line-height: 1em;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: 1.05rem;
  @media screen and (min-width: $tablet) {
    font-size: 1rem;
  }
}

li {
  margin-bottom: .25em;
}

ul, ol {
  padding-left: 2em;
  margin-bottom: 1em;
  margin-top: .25em;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

body {
  background: $text-light;
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 0;
  @media screen and (min-width: $desktop) {
    font-size: .9vw;
  }
}

a {
  color: $text-info;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: darken($text-info, 10%);
    text-decoration: underline;
  }
}

em {
  display: inline-block;
  background: #efefef;
  border-radius: 2px;
  padding: .15em .5em;
  color: $accent;
  font-weight: bold;
}

.social-link {
  color: $text-info;
  cursor: pointer;
  margin: 0;
  padding: 0;
  &:hover {
    color: darken($text-info, 10%);
  }
}

button, .btn {
  display: inline-block;
  min-width: 125px;
  padding: 0.7em 1.5em;
  margin: 0 5px;
  background: #eee;
  border: 0;
  border-radius: 7px 1px 7px 1px;
  font-size: 1rem;
  font-weight: 400;
  color: $text-dark;
  text-decoration: none;
  transition: 0.2s ease-in;
  cursor: pointer;
  &:hover {
    background: darken(#eee, 10%);
    text-decoration: none;
    color: $text-dark;
  }
  &:active, :focus {
    outline: 1px solid $outline;
  }
}

.btn-lg {
  font-size: 1.2rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-danger {
  @extend .btn-primary;
  /*background: $text-danger;
  color: $text-light;
  &:hover {
    background: darken($text-danger, 5%);
    color: $text-light;
    text-decoration: none;
  }*/
}

.btn-primary {
  background: $accent;
  color: $text-light;
  &:hover {
    background: darken($accent, 10%);
    color: $text-light;
  }
}

.btn-primary {
  background: $accent;
  color: $text-light;
  &:hover {
    background: darken($accent, 10%);
    animation: btn-primary 1.2s infinite;
  }
  &:active, &:focus, &:visited {
    color: $text-light;
  }
}

@keyframes btn-primary {
  0% { background-color: $accent; }
  50% { background-color: darken($accent, 12%); }
  100% { background-color: $accent }
}

.btn-info {
  background: $text-info;
  color: $text-light;
  &:hover {
    background: darken($text-info, 10%);
    color: $text-light;
    text-decoration: none;
  }
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.col {
  flex: 1;
  display: inline-block;
  padding: 0.5rem;
}

.col-full {
  @extend .col;
  width: 100%;
}

.text-center {
  text-align: center;
}

.full-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}