@import 'vars';
:root {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1em;
}

p, span, i, b, body {
  margin: 0;
  margin-bottom: 1em;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

button, .btn {
  display: inline-block;
  min-width: 100px;
  padding: 0.6em 1.5em;
  background: #eee;
  border: 0;
  border-radius: 3px;
  font-size: 1.2rem;
  color: $text-dark;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: $gray-med;
  }
  transition: 0.2s ease-in-out;
}

.btn-lg {
  font-size: 1.4rem;
}

body {
  background: $text-light;
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.row {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.col {
  flex: 1;
  display: inline-block;
}