$nav-height: 50px;
$tablet: 768px;
$laptop: 1000px;
$desktop: 1200px;

$text-light: #fff;
$gray-med: #ddd;
$text-dark: #202020;
$text-danger: #EF4A58;
$text-info: #5985FF;
$outline: #42CAFD;

$accent: rgb(239, 110, 50);
$text-info: $accent;

$github-color: rgb(36, 41, 46);
$linkedin-color: #0077B5;
$youtube-color: #FF0000;
$sms-color: #5BC236;
$email-color: #888;