.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
  border: 2px solid darken($text-light, 10%);
}

.iframe-container__iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:none;
}