@import '../vars';

.social-bar {
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 1rem;
}

.social-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: $text-info;
  height: 50px;
  width: 50px;
  font-size: 30px;
  &:hover {
    background: darken($text-info, 10%);
    text-decoration: none;
    cursor: pointer;
  }
  i {
    color: $text-light;
  }
}

.bg-linkedin { 
  background-color: $linkedin-color; 
  &:hover {
    background-color: darken($linkedin-color, 10%);
  }
}
.bg-github {
  background-color: $github-color;
  &:hover {
    background-color: lighten($github-color, 10%);
  }
}
.bg-youtube {
  background-color: $youtube-color;
  &:hover {
    background-color: darken($youtube-color, 10%);
  }
}
.bg-sms {
  background-color: $sms-color;
  &:hover {
    background-color: darken($sms-color, 10%);
  }
}
.bg-email {
  background-color: $email-color;
  &:hover {
    background-color: darken($email-color, 10%);
  }
}