.social-links {
  display: flex;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: $text-light;
  &:hover {
    text-decoration: none;
  }
}

.bg-linkedin {
  background-color: $linkedin-color;
  &:hover {
    background-color: darken($linkedin-color, 10%);
  }
}
.bg-github {
  background-color: $github-color;
  &:hover {
    background-color: lighten($github-color, 10%);
  }
}
.bg-youtube {
  background-color: $youtube-color;
  &:hover {
    background-color: darken($youtube-color, 10%);
  }
}
.bg-sms {
  background-color: $sms-color;
  &:hover {
    background-color: darken($sms-color, 10%);
  }
}
.bg-email {
  background-color: $email-color;
  &:hover {
    background-color: darken($email-color, 10%);
  }
}
.bg-twitter {
  background-color: $twitter-color;
  &:hover {
    background-color: darken($twitter-color, 10%);
  }
}