.intro {
    display: flex;
    justify-content: center;
    color: $text-light;
    padding-bottom: 1rem;
}

.intro__content {
    text-align: center;
    h1, h2 {
        font-weight: normal;
    }
}

.intro__selfie {
    height: 200px;
    border-radius: 100%;
    @media (min-width: $desktop) {
        height: calc(200px + 1vw);
    }
}

.intro__title {
    margin: 0;
    font-weight: 400;
}

.intro__subtitle {
    font-weight: 400;
}