@import "../../utils/vars.scss";

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: $pad;
  border-bottom: 2px dashed $text-dark;
  @media screen and (min-width: $phone) {
    padding: 2.5rem 5rem 2.5rem 5rem;
  }
  @media screen and (min-width: $desktop) {
    padding: $pad 25%;
  }
}

.project-img-container {
  position: relative;
}

.project-img {
  width: 100%;
  @media screen and (min-width: $tablet) {
    height: 55vh;
  }
  @media screen and (min-width: $desktop) {
    height: 60vh;
  }
}

.project-description {
  margin: 0 0 2.5rem 0;
  .tag {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: italic;
  }
  .title { margin-bottom: 0.3rem; word-wrap: none; }
  .view-project { float: right; }
  @media screen and (min-width: $tablet) {
    font-size: 1.25rem;
    .description {
      max-width: 600px;
    }
  }
}
