@import "../../utils/vars.scss";

.project-img-container {
  position: relative;
}

.project-img {
  width: 100%;
  @media screen and (min-width: $tablet) {
    height: 55vh;
  }
  @media screen and (min-width: $desktop) {
    height: 60vh;
  }
}

.project-description {
  margin: 0.5rem 0;
  .tag {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: italic;
  }
  .title { 
    margin: 0.5rem 0; 
    word-wrap: none;
    font-size: 2.5em;
  }
  .view-project { float: right; }
  @media screen and (min-width: $phone) {
    margin-bottom: 1.5rem;
    .title {
      font-size: 3em;
    }
  }
  @media screen and (min-width: $tablet) {
    font-size: 1.25rem;
    .description {
      max-width: 600px;
    }
  }
}

.project-btns {
  display: flex;
  flex-wrap: wrap;
  .btn {
    margin-left: 0;
  }
}
