---
layout: default
title: Portfolio
permalink: /portfolio/
---
<div class="jumbotron text-center" style="background-image: url('/assets/images/alvaro-reyes-unsplash.jpg'); background-position: center;">
  <img class="rounded-circle" src="/assets/images/face_small.jpg" alt="My Face" style="height: 200px;"/>
  <h3 class="jumbotron-heading">I'm Alex, content creator &amp; developer. :)</h3>
  <br/>
  <p>
    <a class="btn btn-info btn-lg" rel="noreferrer noopener" target="_blank" href="/assets/alexander_cannon_resume.pdf">
      Resume
      <i class="fas fa-file-download"></i>
    </a>
    <a class="btn btn-primary btn-lg" href="#gallery" role="button">
      View Work
      <i class="fas fa-tools"></i>
    </a>
  </p>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-6" id="gallery">
      <h2>Select Projects</h2>
      <p>Click a project below to learn more. View my <a href="https://github.com/Alex-Cannon" target="_blank" rel="noopener noreferrer">Github</a> or <a href="https://codepen.io/Alex_Cannon/" target="_blank" rel="noopener noreferrer">Codepen</a> to see more projects.
      </p>

      {% include_relative _includes/projectSection.html %}

      {% include_relative _includes/about.html %}

      <div id="contact">
        <h2>Contact Me</h2>
        <p>Hi! Wanna chat? Send me a message through any of the services below. I'm most active on LinkedIn and Github.</p>
        {% include_relative _includes/socialLinks.html %}
      </div>
    </div>
  </div>
</div>
