@import 'vars';

.section {
  padding: 1rem 5vw;
  border-bottom: 2px solid $gray-med;
  &:last-of-type {
    border-bottom: 0px;
  }
  @media screen and (min-width: $tablet) {
    padding: 1.5rem 10vw;
  }
  @media screen and (min-width: $laptop) {
    padding: 1.5rem 25vw;
  }
}

.portfolio-container {
  position: relative;
}

.landing-wrap {
  background-color: #555;
  background-image: url('../../assets/images/banner.jpeg');
  background-size: cover;
  color: $text-light;
  .my-face {
    margin-bottom: 2vh;
    border: 2px solid $gray-med;
  }
}

.landing-wrap-content {
  padding: 3vh 1rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  @media screen and (min-width: $tablet) {
    padding: 2vh 50px;
  }
}

.my-face {
  display: inline-block;
  border-radius: 100%;
  max-width: 175px;
  max-height: 175px;
  width: 100%;
  @media screen and (min-width: $laptop) {
    max-width: 200px;
    max-height: 200px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 200px;
    min-height: 200px;
    max-width: 10vw;
    max-height: 10vw;
  }
}

.portfolio-description {
  font-weight: 400;
  margin-bottom: 3vh;
  font-size: 30px;
  @media screen and (min-width: $tablet) {
    font-size: 2.3rem;
  }
}

#gallery {
  padding-top: 2rem;
}

.gallery-project {
  text-align: center;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.gallery-project-describe {
  background: $text-light;
  margin-bottom: 2rem;
}

.portfolio-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
  border: 1px solid $gray-med;
}

.portfolio-quote {
  margin: 1.5em 0;
  font-weight: bold;
}