@import 'vars';

.section {
  padding: 2rem 5vw;
  @media screen and (min-width: $tablet) {
    padding: 3rem 10vw;
  }
  @media screen and (min-width: $desktop) {
    padding: 3rem 25vw;
  }
}

.portfolio-container {
  position: relative;
}

.landing-wrap {
  text-align: center;
  background-image: url('../../assets/images/banner.jpeg');
  background-size: cover;
  color: $text-light;
  .my-face {
    margin-bottom: 2vh;
    border: 2px solid $gray-med;
  }
}

.landing-wrap-content {
  padding: 5vh 1rem;
  background: rgba(0, 0, 0, 0.5);
  @media screen and (min-width: $tablet) {
    padding: 5vh 50px;
  }
}

.my-face {
  display: inline-block;
  border-radius: 100%;
  max-width: 200px;
  width: 100%;
  @media screen and (min-width: $laptop) {
    max-width: 200px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 200px;
    max-width: 10vw;
  }
}

.portfolio-description {
  font-weight: 400;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $gray-med;
}

.gallery-project {
  text-align: center;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 75%;
  }
  @media screen and (min-width: $desktop) {
    width: 50%;
  }
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  border-top: 2px solid $gray-med;
}

.gallery-project-describe {
  background: $text-light;
  padding: 2rem;
}

.portfolio-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 1rem;
}

.portfolio-quote {
  margin: 1.5em 0;
}