<section id="aboutSection">
  <h2>About Me</h2>
  <p>Hi! :) I'm Alex, founder of <i>alexdevblog.com</i> & Software Engineer.</p>
  <p>As a self-taught developer, I understand that learning to program is difficult. That's why I create detailed tutorials explaining <b>WHY</b> and <b>HOW</b> a solution works best.</p>
  <p>People rely on programmers to solve some of the world's most complex problems. So, let's work together to <b>get the job done & get it done right!</b></p>

  {% include embedVideo.html
    src='https://www.youtube.com/embed/dwHEPl6FXzQ'
  %}

  <p>I've had the privilege of working with some great developers during a few <a href="https://chingu.io/" rel="noreferer noopener">Chingu Voyages</a>. Chingu connects learners into teams in order for motivated developers to learn and complete awesome projects together.</p>
  <p>I'm always looking for ways to get involved in the software development community. I attend monthly hackathons/meetups where I can geek-out and have some fun!</p>
  <p>Writing software is a fun challenge. But <b>I also understand that at the end of the day, businesses need to make money!</b> That is why I'm committed to learning what is necessary to get the job done.</p>
  <br/>
  <h4><i>"Lean just beyond your edge" - David Deida</i></h4>
  <br/>
  <p>Thanks for reading! Let's create an impact, together.</p>
  <br/>
</section>
