<div class="section" id="about">
  <h1>About Me</h1>
  <div class="flex-center">
    <img class="my-face" src="/assets/images/face_small.jpg" alt="My Face"/>
  </div>
  <p class="text-center">"Hu? What about me?"</p>
  <p>Hi! :) I'm Alex & I build software. I'm a 20 year-old, eager and hard-working individual who loves to add value in any way I can.</p>
  <p>I believe that technology should <i>solve problems</i> instead of complicating them.<br/><b>That's why I actively learn the tech needed to get the job done!</b><br/> With that said, I'm most familiar with <u>JavaScript, HTML, CSS, ReactJS, NodeJS, Express, and MongoDB.</u></p>
  <p>I write software mostly <b>every day</b> to stay on top of the new jazzy tech. <br/>It takes <b>hard work</b> and dedication to live up to my high standards for quality work.</p>
  <p>Below are a few examples of my acomplishments:</p>
  <ul>
    <li>Developed 4+ Websites</li>
    <li>Developed 30+ Web Pages</li>
    <li>1800+ hours of hands-on learning</li>
    <li>50+ hours of teaching (Blog/Youtube)</li>
    <li><a href="https://www.freecodecamp.org/" rel="noreferer noopener">FreeCodeCamp</a> Certificates (1300 hours)
      <ul>
        <li>Front-End Development (400 hours | Legacy)</li>
        <li>Responsive Web Design (300 hours)</li>
        <li>JavaScript Algorithms and Data Structures (300 hours)</li>
        <li>Front-End Libraries (300 hours)</li>
      </ul>
    </li>
  </ul>
  <p>You are reading this on my Blog, but I also have a YouTube channel, where I post tutorials, projects, life updates, and more!</p>
  <div class="portfolio-video">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/yp4hQ637r7w?list=PLCl9m6jQF0CIlZxNUo20e13HnBkvwWMGV" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p>I've had the privilege of working with some great developers during a few <a href="https://chingu.io/" rel="noreferer noopener">Chingu Voyages</a>. Chingu connects learners into teams in order for motivated developers to learn and complete awesome projects together.</p>
  <p>I'm always looking for ways to get involved in the software development community. I attend monthly hackathons/meetups where I can geek-out and have some fun!</p>
  <p>Writing software is superb. But <b>I also understand that at the end of the day, businesses need to make money!</b> That is why I'm commited to learning what is necessary to get the job done.</p>
  <h6 class="text-center portfolio-quote"><i>"Lean just beyond your edge" - David Deida</i></h6>
  <p>Thanks for reading! Let's create an impact, together.</p>
  <br/>
  <h4>Testimonials</h4>
  <p><i>Alex and I worked on a two months remote full stack development project together. Alex was the team leader and was very organized and productive for the whole duration of the project. Because of Alex's focus and coding skills our group was able to finish the project in the allocated time and fulfill all of our goals. Alex is very knowledgable with the MERN stack and a great problem solver. <a href="https://www.linkedin.com/in/inna-leikina-1580542b/" rel="noreferer noopener">-Inna Leikina</a></i></p>
</div>