<section id="aboutSection">
  <h2>About Me</h2>
  <p>Hi! <i class="fas fa-grin-alt"></i> I'm Alex. I make web development videos on the internet.</p>
  <p>I love writing quality, reliable software that impacts people in a positive way.</p>
  <p>That's why I keep my skills up-to-date & create detailed tutorials explaining <i>why</i> and <i>how</i> a solution works best.</p>
  <p>Also, I'm always looking for ways to get involved in the software development community. I attend monthly meetups where I can learn, geek-out, and have fun!</p>
  <p><b>I understand that at the end of the day, businesses need to make money!</b> This is why I aim to be a service-oriented team member. That means being available to pair program with teammates, presenting better patterns & solutions to improve the codebase, listening to business needs, and overall being easy to work with.</p>
  <p class="h4"><i>"Suckin' At Something Is The First Step To Being Sorta Good At Something."<br/>-- Jake The Dog, Adventure Time</i></p>
  <p>Thanks for reading! Let's create an impact, together.</p>
  <h3>Personal Life</h3>
  <p>I live in the beautiful state of Colorado. You'd expect me to spend time with Colorado's vast outdoor activities like hiking, skiing, and fishing but that's not me at all!</p>
  <p>I enjoy spending free time indoors geeking-out or my favorite activity-- eating out with friends or family.</p>
  <p>I'm the second-eldest of 3 brothers and 3 sisters. You could say I'm used to some chaos. <i class="fas fa-laugh-squint"></i></p>
</section>
