<footer class="section">
  <div class="row"> 
    <div class="col">
      <p>Get in touch through any of the services below!</p>
      {% include socialLinks.html  %}
    </div>
    <div class="col">
      <p>Welcome to my Blog! :) My Name is Alex Cannon. I'm a Software Engineer. Here you will find Soft Tutorials, interesting projects, Life Updates, and more!</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p>This website was made with <i class="fas fa-heart"></i> By Alex Cannon</p>
      <p>&copy; Alexander L. Cannon 2019</p>    
    </div>
  </div>
</footer>
</div>
</body>