    <footer style="margin-top: 3rem; padding-top: 2rem; padding-bottom: 2rem;">
      <div>
        <div>
          <p>
            I'm Alex, founder of <a href="/">alexdevblog.com</a>
            <br/>
            I hope you learn something new while you're here. ;)
          </p>
        </div>
        <div>
          <p>Find me on the web:</p>
          {% include socialLinks.html  %}
        </div>
      </div>
      <div>
        <div>
          <p>This website was made with <i></i> by Alex Cannon</p>
          <p>&copy; Alexander L. Cannon 2020</p>
        </div>
      </div>
    </footer>
    <script src="/assets/dist/js/bundle.min.js"></script>
</body>