    <footer class="container-fluid bg-secondary" style="margin-top: 3rem; padding-top: 2rem; padding-bottom: 2rem;">
      <div class="row text-center justify-content-center">
        <div class="col-sm-12 col-md-3">
          <p>
            I'm Alex, founder of <a href="/">alexdevblog.com</a>
            <br/>
            I hope you learn something new while you're here. ;)
          </p>
        </div>
        <div class="col-sm-12 col-md-3">
          <p>Find me on the web:</p>
          {% include socialLinks.html  %}
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <p>This website was made with <i class="fas fa-heart"></i> by Alex Cannon</p>
          <p>&copy; Alexander L. Cannon 2020</p>
        </div>
      </div>
    </footer>
    <script src="/assets/lib/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap.min.js"></script>
    <script src="/assets/lib/prism.js"></script>
</body>