<nav class="nav-container">
  <div class="top-nav">
    <div id="nav-left">
      <h5><a href="/">{{ site.title }}</a></h5>
    </div>
    <div id="nav-right">
      <a href="/">Blog</a>
      <a href="/about">About</a>
      <a href="/portfolio">Portfolio</a>
      {% if page.title == "portfolio" %}
        <a href="/assets/Alexander_Cannon_Resume.docx" download>Resume</a>
      {% endif %}
    </div>
  </div>
  <div id="mobile-menu">
    <a href="/">Blog</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    {% if page.title == "portfolio" %}
      <a href="/assets/Alexander_Cannon_Resume.docx" download>Resume</a>
    {% endif %}
  </div>
</nav>
<body>
  <div class="top-nav-after"></div>
  {% include socialbar.html %}