<nav>
  <button type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>
  </button>
  <div id="navbarNavDropdown">
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li>
        <a rel="noreferrer noopener" target="_blank" href="/assets/alexander_cannon_resume.pdf">
          Resume <i class="fas fa-external-link-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

