<div class="col-sm-12 col-lg-6 text-center">
  <div class="card">
    {% include embedVideo.html
      src=include.video_embedded_link
      class='card-img-top'
    %}
    <div class="card-body">
      <h5 class="card-title">{{ include.title }}</h5>
      <p class="card-text">Role: {{ include.role }}</p>
    </div>
    <div class="card-body">
      {% if include.href %}
        <a class="btn btn-lg btn-danger" href="{{include.href}}" rel="noreferer noopener">
          View Live
        </a>
      {% endif %}
      {% if include.sourcehref %}
        <a class="btn btn-lg btn-info" href="{{include.sourcehref}}">
          Source
          <i class="fab fa-github"></i>
        </a>
      {% endif %}
    </div>
  </div>
  <br/>
</div>