<div>
  <div>
    {% include embedVideo.html
      src=include.video_embedded_link
      class='card-img-top'
    %}
    <div>
      <h5>{{ include.title }}</h5>
      <p>Role: {{ include.role }}</p>
    </div>
    <div>
      {% if include.href %}
        <a href="{{include.href}}" rel="noreferer noopener">
          View Live
        </a>
      {% endif %}
      {% if include.sourcehref %}
        <a href="{{include.sourcehref}}">
          Source
          <i></i>
        </a>
      {% endif %}
    </div>
  </div>
  <br/>
</div>