<div class="project-section" id="gallery">
  <div class="project-bar">
    {%
      include projectbarThumb.html
      src='/assets/images/cover_voa.png'
      alt='Volunteer Core'
      href='https://vmt-rsvplarimer.herokuapp.com/'
      readhref='/post/volunteer-core'
      text='Volunteers For America "CRM" | Front-End Development'
    %}
    {% include projectbarThumb.html 
      src='/assets/images/cover_codebin.jpg'
      alt='Online Webpage Editor | Full Stack Development'
      href='https://c0d3bin.herokuapp.com/'
      readhref='/post/codebin'
      text='Online Webpage Editor | Full Stack Development'
    %}
    {% include projectbarThumb.html 
      src='/assets/images/cover_secretsanta.png'
      alt='Secret Santa Online | Full Stack Development'
      href='https://secret-santa-13.herokuapp.com'
      readhref='/post/secretsanta'
      text='Secret Santa Shop | Full Stack Development'
    %}
    {% include projectbarThumb.html 
      src='/assets/images/cover_bearbnb.png'
      alt='Airbnb Clone | Front-End Development'
      href='https://bearbnb-06.herokuapp.com'
      readhref='/post/bearbnb'
      text='Airbnb Clone | Front-End Development'
    %}
  </div>
  <div class="project-section-description">
    <div id="project-0"></div>
    <div id="project-1"></div>
    <div id="project-2"></div>
    <div id="project-3"></div>
  </div>
</div>
