<section aria-label="Alex's Web Development Projects">
  <div id="projectSection"></div>
  <h2>Select Projects</h2>
  <p>Click a project below to learn more. View my <a href="https://github.com/Alex-Cannon" target="_blank" rel="noopener noreferrer">Github</a> or <a href="https://codepen.io/Alex_Cannon/" target="_blank" rel="noopener noreferrer">Codepen</a> to see more projects.
  </p>
  <div class="projects">
    {% include project.html
      video_embedded_link='https://www.youtube.com/embed/lnMl32AWRog'
      title='Video: Best testing utility for React'
    %}
    {% include project.html 
      video_embedded_link='https://www.youtube.com/embed/O8uFRR9L13M'
      sourcehref='https://github.com/Alex-Cannon/codebin'
      title='Online Webpage Editor'
      role='Full-Stack Developer'
    %}
    {% include project.html 
      video_embedded_link='https://www.youtube.com/embed/VwVT3WU3NwY'
      href='http://fd-servicedirectory.herokuapp.com/'
      sourcehref='https://github.com/CodeForFoco/fd-servicedirectory'
      title='P.F.A. Non-Profit Directory'
      role='Front-End Developer'
    %}
    {% include project.html
      video_embedded_link='https://www.youtube.com/embed/GP26YeVO-u8'
      sourcehref='https://github.com/Alex-Cannon/Bears-Team-13'
      title='Secret Santa Shop'
      role='Lead Full-Stack Developer'
    %}
  </div>
</section>
