<div class="social-bar-wrapper">
  <div class="social-bar">
    <a class="social-link-btn bg-sms" onclick="alert('Call me at 970-812-2131!')" title="Call Me!">
      <i class="social-link fas fa-phone" ></i>
    </a>
    <a class="social-link-btn bg-email" href="mailto:alexcannon2018@gmail.com" title="Email me!">
      <i class="fas fa-envelope social-link"></i>
    </a>
    <a class="social-link-btn bg-github" href="https://github.com/alex-cannon" target="_blank" rel="noopener noreferrer" title="View my Github">
      <i class="fab fa-github social-link"></i>
    </a>
    <a class="social-link-btn bg-linkedin" href="https://www.linkedin.com/in/alexander-cannon-2a5b0513b/" target="_blank" rel="noopener noreferrer" title="Talk via Linkedin!">
      <i class="fab fa-linkedin-in social-link"></i>
    </a>
    <a class="social-link-btn bg-youtube" href="https://www.youtube.com/channel/UCLX0n9oWmGkjKmK8iuPf8wQ?view_as=subscriber" target="_blank" rel="noopener noreferrer" title="View my Channel">
      <i class="fab fa-youtube social-link"></i>
    </a>
  </div>
</div>