<div>
  <a href="https://www.youtube.com/channel/UCLX0n9oWmGkjKmK8iuPf8wQ?view_as=subscriber" target="_blank" rel="noopener noreferrer" title="View my Channel">
    <i></i>
  </a>
  <a href="https://www.linkedin.com/in/alexander-lee-cannon/" target="_blank" rel="noopener noreferrer" title="Talk via Linkedin!">
    <i></i>
  </a>
  <a href="https://github.com/alex-cannon" target="_blank" rel="noopener noreferrer" title="View my Github">
    <i></i>
  </a>
  <a href="mailto:alexcannon2018@gmail.com" title="Email me!">
    <i></i>
  </a>
</div>
