<div class="social-bar-wrapper">
  <div class="social-bar">
    <div class="social-link-btn">
      <span class="social-link fas fa-phone" onclick="alert('Call me at 970-812-2131!')"></span>
    </div>
    <div class="social-link-btn">
      <a href="mailto:alexcannon2018@gmail.com"><i class="fas fa-envelope social-link"></i></a>
    </div>
    <div class="social-link-btn">
      <a href="https://github.com/alex-cannon"><i class="fab fa-github social-link"></i></a>
    </div>
    <div class="social-link-btn">
      <a href="https://www.linkedin.com/in/alexander-cannon-2a5b0513b/"><i class="fab fa-linkedin-in social-link"></i></a>
    </div>
    <div class="social-link-btn">
      <a href="https://www.youtube.com/channel/UCLX0n9oWmGkjKmK8iuPf8wQ?view_as=subscriber"><i class="fab fa-youtube social-link"></i></a>
    </div>
  </div>
</div>