<span class="social-link fas fa-phone-square fa-3x" onclick="alert('Call me at 970-812-2131!')"></span>
<a href="mailto:alexcannon2018@gmail.com"><i class="fas fa-envelope-square fa-3x social-link"></i></a>
<a href="https://github.com/alex-cannon"><i class="fab fa-github-square fa-3x social-link"></i></a>
<a href="https://www.linkedin.com/in/alexander-cannon-2a5b0513b/"><i class="fab fa-linkedin fa-3x social-link"></i></a>
<a href="https://www.youtube.com/channel/UCLX0n9oWmGkjKmK8iuPf8wQ?view_as=subscriber"><i class="fab fa-youtube-square fa-3x social-link"></i></a>
