<div class="social-bar">
  <a class="social-link-btn bg-youtube" href="https://www.youtube.com/channel/UCLX0n9oWmGkjKmK8iuPf8wQ?view_as=subscriber" target="_blank" rel="noopener noreferrer" title="View my Channel">
    <i class="fab fa-youtube"></i>
  </a>
  <a class="social-link-btn bg-linkedin" href="https://www.linkedin.com/in/alexander-lee-cannon/" target="_blank" rel="noopener noreferrer" title="Talk via Linkedin!">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a class="social-link-btn bg-github" href="https://github.com/alex-cannon" target="_blank" rel="noopener noreferrer" title="View my Github">
    <i class="fab fa-github"></i>
  </a>
  <a class="social-link-btn bg-email" href="mailto:alexcannon2018@gmail.com" title="Email me!">
    <i class="fas fa-envelope"></i>
  </a>
</div>
