@import 'vars';

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $nav-height;
  padding: 5px 1rem;
  border-bottom: 2px solid #ccc;
  background: #fff;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  a {
    padding: 0 0.5rem;
  }
  @media screen and (min-width: $tablet) {
    position: absolute;
    justify-content: space-between;
    padding: 5px 2.5rem;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

// Padding for fixed navbar
.top-nav-after {
  height: $nav-height;
  width: 100%;
  border: 0;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 0px;
  overflow: hidden;
  a {
    display: block;
    padding: 0.5em 1rem;
    border-bottom: 1px solid #ddd;
    &:last-of-type {
      border-bottom: 2px solid #ddd;
    }
    &:hover {
      background: #eee;
    }
  }
  transition: 0.4s;
}

.mobile-menu-active {
  opacity: 1 !important;
  height: auto !important;
}

#nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burger-close {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .bar1, .bar2, .bar3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: $text-info;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar1 {
    top: 0;
    left: 0;
  }
  .bar2 {
    top: calc(50% - 2.5px);
  }
  .bar3 {
    bottom: 0;
  }
}

.burger-open {
  @extend .burger-close;
  .bar1 {
    transform: rotate(-45deg) translate(-6px, 9px);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    transform: rotate(45deg) translate(-6px, -9px);
  }
}