@import '../vars';

.project-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
  @media screen and (min-width: $laptop) {
    width: 100%;
  }
}

.project-video-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
  @media screen and (min-width: $laptop) {
    width: 100%;
  }
}