@import "../../utils/vars.scss";
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
  font-size: 17px;
  @media screen and (min-width: $phone) {
    font-size: 15px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1rem;
  color: $text-med;
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                  linear-gradient(#eee .05em, transparent .05em);
}

p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.25em;
}

a {
  color: $text-dark;
  text-decoration: none;
  font-weight: bold;
  color: $accent;
  &:hover, &:active {
    color: darken($accent, 10%);
    text-decoration: underline;
  }
}

b { color: $text-dark; }

h1 {font-size: 3em; }
h2 {font-size: 2em; }
h3 {font-size: 1.5em; }

@media screen and (min-width: $phone) {
  h1 {font-size: 3.8em; }
  h2 {font-size: 2.6em; }
  h3 {font-size: 1.8em; }
  p {font-size: 1.1em; }
}

h1, h2, h3, h4, h5, h6 {
  color: $text-dark;
  margin-bottom: 0.5em;
}

.text-mute {
  color: $text-med;
}