@import "../../utils/vars.scss";

#about-container {
  min-height: 100vh;
  padding: $pad;
  @media screen and (min-width: $phone) {
    padding: 2.5rem 5rem 2.5rem 5rem;
  }
  @media screen and (min-width: $desktop) {
    padding: $pad 25%;
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: $text-med;
  p {
    max-width: 600px;
  }
  @media screen and (min-width: $phone) {
    font-size: 1.35rem;
  }
  @media screen and (min-width: $tablet) {
    display: block;
    align-items: flex-start;
  }
}

.about-quote {
  color: $text-med;
  margin: 3rem 0;
}

.about-face {
  display: block;
  width: 50vw;
  height: 50vw;
  min-width: 200px;
  min-height: 200px;
  background: $text-dark;
  margin-bottom: 1rem;
  @media screen and (min-width: $tablet) {
    float: right;
    width: 50vw;
    height: 50vw;
    margin: 0 0 1rem 1rem;
    max-width: 450px;
    max-height: 450px;
    margin-bottom: 2rem;
  }
}

.about-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: $pad;
  p {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  @media screen and (min-width: $phone) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5rem 0;
    p {
      flex: 1;
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 3rem 0;
  }
}

.about-contact-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  @media screen and (min-width: $phone) {
    align-items: flex-start;
  }
}

.about-contact-email-btn {
  margin-bottom: 1.5rem;
}