@import "../../utils/vars.scss";

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-med;
  text-align: left;
  font-size: 1.2rem;
  p {
    max-width: 800px;
  }
}

.about-quote {
  color: $text-med;
  margin: 3rem 0;
}


.about-face {
  display: block;
  width: 55vw;
  height: 55vw;
  min-width: 200px;
  min-height: 200px;
  margin-left: 1em;
  background: $text-dark;
  margin-bottom: 1rem;
  border-radius: 100%;
  border: 0;
  float: right;
  @media screen and (min-width: $phone) {
    width: 42vw;
    height: 42vw;
    max-width: 450px;
    max-height: 450px;
    margin-bottom: 2rem;
  }
}

.about-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: $pad;
  text-align: left;
  font-size: 1rem;
  p {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  @media screen and (min-width: $phone) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5rem 0;
    p {
      flex: 1;
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 3rem 0;
  }
}

.tech-content {
  text-align: left;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.about-contact-methods {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.about-contact-email-btn {
  margin-bottom: 1.5rem;
}