@import "../../utils/vars.scss";

#landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 6rem $pad 100px $pad;
  border-top: 3px dashed $text-med;
  border-bottom: 3px dashed $text-med;
  color: $text-dark;
  @media screen and (min-width: $phone) {
    padding: 6rem $pad 100px $pad;
  }
  @media screen and (min-width: $tablet) {
    padding: 8rem $pad 130px $pad;
  }
}

.landing-face {
  display: block;
  width: 50vw;
  height: 50vw;
  min-width: 200px;
  min-height: 200px;
  background: $text-dark;
  margin-bottom: 1rem;
  @media screen and (min-width: $phone) {
    width: 50vw;
    height: 50vw;
    max-width: 450px;
    max-height: 450px;
    margin-bottom: 2rem;
  }
}

.landing-text {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin: 0;
  @media screen and (min-width: $phone) {
    font-size: 2.7rem;
    max-width: 80%; 
  }
  @media screen and (min-width: $tablet) {
    max-width: 800px;
  }
  @media screen and (min-width: $desktop) { 
    font-size: 3.6rem;
  }
}

#landing-button { 
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: 20vh;
  padding: 1rem 0;
  transition: 0.3s; 
  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
  }
  @media screen and (min-width: $phone) {
    height: 13vh;
  }
}

.landing-arrow {
  display: flex;
  justify-content: center;
  padding: 1rem;  
  span:nth-of-type(1) {
    bottom: 7%; 
    display: block;
    width: 6px;
    height: 40px;
    border-radius: 10px;
    background: $text-dark;  
    transform: translateX(-9px) rotate(135deg); 
  }
  span:nth-of-type(2) {
    bottom: 7%;
    display: block; 
    width: 6px;
    height: 40px;
    border-radius: 10px;
    background: $text-dark;
    transform: translateX(9px) rotate(45deg); 
  }
}