@import 'vars';

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    @media (min-width: $desktop) {
        font-size: calc(15px + 0.1vw);
    }
}

// Source: https://type-scale.com/
body {
    position: relative;
    font-family: arial, sans-serif, serif;
    background-color: $bg-light;
    color: $text-dark;
    font-weight: 400;
    line-height: 1.5;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

h1, .h1 {font-size: 2rem;}
h2, .h2 {font-size: 1.602rem;}
h3, .h3 {font-size: 1.424rem;}
h4, .h4 {font-size: 1.266rem;}
h5, .h5 {font-size: 1.125rem;}

small {font-size: 0.889rem;}

.main {
    margin-top: $nav-height;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

header, section {
    padding-bottom: 1rem;
}

.btn-group {
    display: flex;
    justify-content: center;

    .btn:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .btn:only-child {
        border-radius: 8px;
    }
}

.btn {
    display: inline-block;
    padding: 0.5em 1.2em;
    background-color: $text-grey;
    color: $text-light;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;

    &:active, &:visited, &:hover {
        color: $text-light;
        text-decoration: none;
        cursor: pointer;
    }
}

.btn__primary {
    @extend .btn;
    background-color: $accent-primary;
    &:hover {
        background-color: darken($accent-primary, 10%);
    }
}

@keyframes btnPrimaryGlow {
    0% { background-color: darken($accent-primary, 10%); }
    50% { background-color: darken($accent-primary, 5%); }
    100% { background-color: darken($accent-primary, 10%); }
};
.btn__primary--glow {
    @extend .btn__primary;
    &:hover {
        animation-name: btnPrimaryGlow;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
}

.btn__info {
    @extend .btn;
    background-color: $accent-info;
    &:hover {
        background-color: darken($accent-info, 10%);
    }
}

.btn__dark {
    @extend .btn;
    background-color: $text-dark;
    color: $text-light;
    &:hover {
        background-color: lighten($text-dark, 10%);
    }
}

.ml-1 {
    margin-left: 8px;
}