@import "../../utils/vars.scss";

#gallery {

}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  overflow: hidden;
}

.gallery-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}