.background__triangle {
    // Source: https://www.magicpattern.design/tools/css-backgrounds
    background-color: $text-dark;
    background-image: linear-gradient(45deg, $text-darker 50%, $text-dark 50%);
    background-size: 16px 16px;
}

.background__cross {
    // Source: https://www.magicpattern.design/tools/css-backgrounds
    background-color: $text-light;
    background: radial-gradient(circle, transparent 20%, $text-light 20%, $text-light 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, $text-light 20%, $text-light 80%, transparent 80%, transparent) 30px 30px, linear-gradient(darken($text-light, 5%) 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, darken($text-light, 5%) 2.4000000000000004px, $text-light 2.4000000000000004px) -1.2000000000000002px 0;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
}

.background__diagonal {
    // Source: https://www.magicpattern.design/tools/css-backgrounds
    background-color: $text-light;
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, darken($text-light, 5%), darken($text-light, 5%) 3px, $text-light 3px, $text-light 25px );
}
