@import "../../utils/vars.scss";

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 6;
  display: block;
  width: 100%;
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em);
  @media screen and (min-width: $phone) {
    font-size: 1.2rem;
  }
  a {
    color: $text-dark;
  }
}

#nav-header {
  height: 55px;
  padding: 0 2em;
  border-bottom: 3px dashed $text-med;
}

#site-title {
  font-weight: bold !important;
}

.nav-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  float: left;
  a, i {
    font-weight: normal;
    margin-right: 0.5em;
    &:hover {
      color: $accent;
    }
  }
}

.nav-right { 
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  float: right;
}

#contact-types {
  font-size: 1.7rem;
  border-bottom: 0;
  a, i {
    color: $text-dark;
    margin-right: 0.25em;
    &:hover {
      cursor: pointer;
      color: $accent;
    }
  }
  &:hover {
    background: none !important;
  }
}

#hamburger {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 35px;
  width: 45px;
  padding: 4px 0;
  span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: $text-dark;
  }
  &:hover {
    cursor: pointer;
    background: #eee;
  }
}

#nav-menu {
  display: flex;
  flex-direction: column;
  border-bottom: 3px dashed $text-med;
  > a, #contact-types {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaa;
    height: 40px;
    padding-left: 2rem;
    &:hover {
      background: #f2f2f2;
    }
  }
}