@import "../../utils/vars.scss";

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5rem;
  display: block;
  width: 100%;
  height: 5rem;
  h3, p {
    margin: 0;
  }
  a {
    color: $text-dark;
    &:hover h3 {
      color: darken($accent, 10%);
    }
  }
  @media screen and (min-width: $tablet) {
    padding: 0 15% 0 15%;
  }
  @media screen and (min-width: $desktop) {
    top: 1.5rem;
    padding: 0 25% 0 25%;
  }
}

.nav-left {
  scroll-behavior: smooth;  
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  padding: 1em;
  padding-right: 0;
  &:hover {
    text-decoration: none;
    h3 {
      color: $text-dark;
    }
    p {
      text-decoration: underline;
    }
  }
  @media screen and (min-width: $phone) {
    padding: 1em 3.5em; 
  }
}

.nav-right { 
  flex: 1;
  display: flex;
  justify-content: flex-end;
  float: right;
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  @media screen and (min-width: $phone) {
    padding: 1em 3.5em;
  }
}